* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden; 
}


:root {
    /* Climate Change Radial Gradients */
    --gradient-intro: radial-gradient(circle, white 0%, rgba(255, 255, 255, 0.8) 100%);
    --gradient-solar: radial-gradient(circle, #ffcc00 0%, #ff6600 100%); /* Solar/Temperature */
    --gradient-sea-level: radial-gradient(circle, #00aaff 0%, #005577 100%); /* Sea Level */
    --gradient-pollution: radial-gradient(circle, #09203f 0%, #537895 100%); /* Pollution */
    --gradient-glaciers: radial-gradient(circle, #a8d8e8 0%, #ffffff 100%); /* Glaciers */
    --gradient-vegetation: radial-gradient(circle, #4caf50 0%, #a5d6a7 100%); /* Vegetation/Animals */
    --gradient-animals: radial-gradient(circle, #43d24d 0%, #6c956e 100%); /* Animals */
    --gradient-temperature: radial-gradient(circle, #ff6600 0%, #ffcc00 100%); /* Temperature */

    /* Font Sizes */
    --font-size-small: 0.875rem; /* Small text size */
    --font-size-medium: 1rem; /* Medium text size */
    --font-size-large: 1.5rem; /* Large text size */
    --font-size-xlarge: 2.5rem;
    --font-size-xxlarge: 5rem; /* Extra large text size */

    /* Font families */
    --font-family-sans: 'Helvetica Neue', Arial, sans-serif; /* Sans-serif font family */
    --font-family-outfit: 'Outfit', sans-serif;
    --font-family-bebas: 'Bebas Neue', sans-serif;
    --font-family-poppins: "Poppins", sans-serif;
    
    /* Colors */
    --color-primary: black;
    --color-secondary: #FDF8F3;

    --color-green-light: #8ED081; /* Light green */
    --color-green-dark: #42714C; /* Dark green */
    --color-green-accent: #ACFFAA; /* Accent green */
    --color-green-deep: #323E1D; /* Deep green */


    --color-blue-light: #79C6CD; /* Light blue */
    --color-blue-dark: #186777; /* Dark blue */
    --color-blue-accent: #89D2C2; /* Accent blue */
    --color-blue-deep: #1B2C54; /* Deep blue */


    --color-red-light: #F28769; /* Light red/orange */
    --color-red-dark: #DF4747; /* Dark red */
    --color-orange-accent: #FACA47; /* Accent orange */

}

.spline-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Use viewport width */
    height: 100vh; /* Use viewport height */
    pointer-events: auto; /* Allow content to be clickable */
    z-index: 2;
}

.spiral {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Full width of the page */
    height: 100%; /* Default to full height of the content */
    pointer-events: auto; /* Allow interactivity */
    z-index: 1;
}



.section {
    background: rgba(255, 255, 255, 0.8); 
    min-height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: space-between; 
    transition: background-color 0.5s ease; 
}


.section-intro, .section-pollution, .section-sea-level, .section-animals, .section-glaciers, .section-solar, .section-vegetation, .section-temperature {
    background: var(--gradient-intro); 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    padding: 10vh 5vw;
}

h1 {
    font-size: var(--font-size-xxlarge);
    width: 50vw;
    color: var(--color-blue-dark);
    font-family: var(--font-family-bebas);
}

h2 {
    font-size: var(--font-size-large);
    font-family: var(--font-family-bebas);
}

p {
    font-size: var(--font-size-large);
    width: 30vw;
    font-family: var(--font-family-poppins)
}

.section-pollution {
    background: var(--gradient-pollution);
}

.section-animals {
    background: var(--gradient-animals);
}

.section-vegetation {
    background: var(--gradient-vegetation);
}

.section-sea-level {
    background: var(--gradient-sea-level);
    
}

.section-glaciers {
    background: var(--gradient-glaciers);
}

.section-solar {
    background: var(--gradient-solar);
}

.section-temperature {
    background: var(--gradient-temperature);
}

strong{
    font: var(--font-size-large)
    var(--font-family-sans)
}


.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}

.title {
    font-size: var(--font-size-xxlarge);
}

/* .box-1 {
    background-color: var(--color-secondary);
    border-radius: 20px;
    padding: 1vh 1vw;
} */

.highlight {
    font-weight: bold; /* Make text bold */
    color: var(--color-orange-accent); /* Change color to your preference */
    font-family: var(--font-family-bebas);
    font-size: var(--font-size-xlarge);
}